@model WebApplication1.Models.Message

@*新增留言表單*@
@using (Ajax.BeginForm("AddMessage", "Blog", new { A_Id = ViewData["A_Id"] },
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace
    ,
        UpdateTargetId = "MessageList"
    }, new
    {

    }))
{
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content)
            </td>
            <td>
                <input id="createMessage" class="btn btn-primary" type="submit" value="來留言" />
            </td>
        </tr>
    </table>
}
