@model WebApplication1.ViewModels.HomeViewModel

@{
    ViewBag.Title = "我的購物網站";
}
<style>
     #DataList, #form1 {
        margin-top: 20px;
    }

    .body-content {
        width: 100% !important;
    }

    .btn-default {
        width: 80%;
    }
</style>

@Html.AntiForgeryToken()

@*載入輪播圖頁面*@
@Html.Action("Carousel", "Album", null)

<div id="HomeBlock">
    <div id="LeftBlock" class="col-md-8 col-lg-8 col-sm-8">
        @*載入商品頁面*@
        @Html.Action("Index", "Item", null)
    </div>
    <div id="RightBlock" class="col-md-4 col-lg-4 col-sm-4">
        @*載入資料陣列頁面*@
        @Html.Action("GetDataList")
    </div>
</div>
